.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

.choose {
  background-color: #ffea2b;
  border-radius: 6px;
  color: #000000;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.choose:hover {
  box-shadow: rgba(216, 223, 2, 0.5) 0 3px 8px;
}
.textArea {
  color: white;
}

.upload {
  border: 1px solid #000000;
  background-color: #ffea2b;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #000000;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid#ffea2b;
  background-color: #717171;
  color: #ffea2b;
}
